/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 *
 */

.MMM-EasyBack .photo {
  width: 100%; /* size the picture */
}

.MMM-EasyBack #video {
  width: 110%;
  height: 110%;
}

.MMM-EasyBack .iframe {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 0px;
}
